<header class="bd-navbar">
    <nav class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link ">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">Examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Themes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Expo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Blog</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link p-2">
                    <img src="https://www.feelver.com/storage/users/default.png" class="profile-image" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>