.btn-login {
    padding: 10px 0px;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: #887241;
    color: white;
}

.logo-row > img {
    margin-bottom: 10px;
    max-width: 100px;
}

.logo-row  {
    padding: 15px 0px;
}


.forget-pass {
    color: lightslategray;
    cursor: pointer;
}

.login-failed {
    color: red;
}
