<app-header></app-header>
<div class="container-fluid">
  <div class="row flex-xl-nowarp">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <form class="bd-search d-flex align-items-center">
        <input type="search" class="form-control">
        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
          data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="true"
          aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
            viewBox="0 0 30 30" role="img" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
              d="M4 7h22M4 15h22M4 23h22"></path>
          </svg></button>
      </form>
      <nav class="bd-links collapse" id="bd-docs-nav">
        <div class="bd-toc-item" *ngFor="let i of [1,2,3,4,5,2,3,4,5,2,3,4,5,2,3,4,5,2,3,4,5,2,3,4,5,3,4,5,2,3,4,5]">
          <a class="bd-toc-link">
            Getting started
          </a>
        </div>
      </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content mt-3" role="main">
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </main>
  </div>
</div>